.nav-link {
  float: right;
}

.navbar-brand {
  float: left;
  width: 70%;
}
.one {
  font-size: 30px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.two {
  font-size: 30px;
  font-weight: 900;
  color: rgb(32, 72, 133);
}
.art {
  font-size: 40px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkUnN1uol8Wncsr0t-Yexq4c4R5kni9tpiAbjGujCjcA&s");
  color: azure;

  text-align: center;
  font-weight: 900;
}
.articles {
  padding: 5%;
}
.footer {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkUnN1uol8Wncsr0t-Yexq4c4R5kni9tpiAbjGujCjcA&s");
}
.foot-name {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: azure;
}
.folo {
  font-size: 60px;
  text-align: center;
  color: white;
  padding: 5%;
}

.folo a {
  margin-left: 2%;
}
div h2 {
  font-size: 35px;
  font-weight: 800;
}
.photo img {
  width: 100%;
  height: 70vh;
  border-radius: 10px;
}
.meteor-vid {
  width: 100%;
  height: 80vh;
  background-image: url("https://i.pinimg.com/originals/74/d6/ff/74d6ff9f2ffa4c61bed3b775b424cab0.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.asteroid-vid {
  width: 100%;
  height: 80vh;
  background-image: url("https://cdn.mos.cms.futurecdn.net/LYaCBz6UWwB4om83KHvtT7-320-80.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.constellation-vid {
  width: 100%;
  height: 80vh;
  background-image: url("https://gifdb.com/images/high/constellation-of-stars-ii0185eskn43ivfa.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.comet-vid {
  width: 100%;
  height: 80vh;
  background-image: url("https://www.cloudynights.com/uploads/gallery/album_19794/gallery_377932_19794_816947.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.galaxy-vid {
  width: 100%;
  height: 80vh;
  background-image: url("https://i.pinimg.com/originals/92/ac/36/92ac3696dee29e29e147826267abf6e8.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.all-name {
  font-size: 150px;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allc-name {
  font-size: 120px;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w3-container {
  padding: 10%;
}
.all-content {
  text-align: center;
  padding: 5%;
}
.all-content img {
  border-radius: 20px;
  width: 70%;
  height: 70vh;
}
.content p {
  font-size: 20px;
}
